@font-face {
    font-family: 'icomoon';
    src: url('icons/fonts/icomoon.eot?9xaor5');
    src: url('icons/fonts/icomoon.eot?9xaor5#iefix') format('embedded-opentype'),
         url('icons/fonts/icomoon.ttf?9xaor5') format('truetype'),
         url('icons/fonts/icomoon.woff?9xaor5') format('woff'),
         url('icons/fonts/icomoon.svg?9xaor5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
  color light-brown
  font-family 'icomoon' !important // !important to prevent issues with font-changing browser extensions
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location {
    @extend .icon
    &:before {
        content: "\e947";
    }
}
.icon-bubble {
    @extend .icon
    &:before {
        content: "\e96b";
    }
}
.icon-user {
    @extend .icon
    &:before {
        content: "\e971";
    }
}
.icon-wrench {
    @extend .icon
    &:before {
        content: "\e991";
    }
}
.icon-stats-bars {
    @extend .icon
    &:before {
        content: "\e99c";
    }
}
.icon-eye {
    @extend .icon
    &:before {
        content: "\e9ce";
    }
}
.icon-heart {
    @extend .icon
    &:before {
        content: "\e9da";
    }
}
