// default
body
  padding 1%

.widget-area
  margin 1%
  padding 0

// cell phones
@media (max-width: 480px)
  body
    padding 0

  .widget-area
    margin 0 0 10px 0
    h2
      font-size 1.7em

// tablets
@media (min-width: 481px) and (max-width: 768px)
  .sidebar-widget
    max-width 350px

  .user-widget
    max-width 600px
