.sidebar-widget header, nav
  box-shadow -2px -2px 16px -4px dark-brown

.sidebar-widget header
  background-color light-brown
  border-radius 5px 5px 0 0
  padding 20px 10px

  h4
    color white
    text-transform uppercase

.sidebar-widget nav
  background-color light-grey
  border-radius 0 0 5px 5px

  li
    font-size 1.2em
    font-weight 300
    padding 22px 30px
    &.current-item
      background-color light-tan
      border-left 5px solid green
      span
        color red
    &:hover:not(.current-item)
      font-weight 700
      span
        color dark-brown

  .glyphicon
    float right
