.user-widget
  border-radius 5px
  box-shadow -2px -2px 16px -4px dark-brown
  header, section, nav
    margin 0px

  .cover-image
    border-radius 5px 5px 0 0
    height 225px
    background-image url("../../resources/images/user-cover-img.jpg")
    background-size cover

  .user
    padding 30px 0

    .name
      padding-left 0
      margin 1px 0 10px 0

    .avatar
      min-height 96px

      .img-padded
        border-color dark-grey

    .user-info
      padding-left 2px

      .subtitle
        padding-left 4px
        line-height 1.5

  .social-buttons
    background-color light-tan
    border-radius 0 0 5px 5px
    display flex
    justify-content space-between

    li
      width 100%
      &:not(:first-child)
        button
          border-left 2px solid white
          width @width - 2px

      button
        height 50px
        color light-brown
        font-size 1.5em
        font-weight 500
        line-height 50px
        text-align center
        &:hover, &:hover span, &.current-item, &.current-item span
          color dark-brown
        &.liked, &.liked span
          color red

        [class*='icon-']
          padding-right 10px
          vertical-align middle
          margin-top -5px
