.user-widget
  border-radius 5px
  box-shadow -2px -2px 16px -4px dark-brown
  header, section, nav
    margin 0px

.user-widget header
  border-radius 5px 5px 0 0

  img
    border-radius 5px 5px 0 0
    min-width 100%
    min-height 100%
    max-width 100%

.user-widget section
  padding 20px 0

  h2
    padding-left 0
    // set margin equal to avatar image padding
    margin-top 7px

  // horizontally center avatar
  img
    position absolute
    left 50%
    width 96px
    height 96px
    margin-left -(@width / 2)

.social-buttons
  background-color light-tan
  border-radius 0 0 5px 5px

  li
    height 50px
    width 33%
    color light-brown
    font-size 1.5em
    font-weight 500
    line-height 50px
    text-align center
    &:not(.first)
      border-left 2px solid white
      width @width - 2px
    &:hover span
      color dark-brown
    &.liked span
      color red

    a:hover, a:focus
      background-color inherit

  .glyphicon
    padding-right 10px
    vertical-align middle
    margin-top -5px


// TO DO
// animate pressing the like button
// add a slide-down comment form when you click comment button?


// RESPONSIVE DESIGN for smaller screens
// avatar image positioning
// make widgets full screen width
