.user-widget header, section
  box-shadow -2px -2px 16px -4px dark-brown

.user-widget header
  border-radius 5px 5px 0 0

  img
    min-width 100%
    min-height 100%
    max-width 100%

.user-widget section
  border-radius 0 0 5px 5px
  padding 20px

  // set margin equal to avatar image padding
  h2
    margin-top 7px

  // horizontally center avatar
  img
    position absolute
    left 50%
    width 92px
    height 92px
    margin-left -(@width / 2)

    // make the h2 an h3 for smaller screens
