@require './_*.styl'

body
  padding 20px

.widget-area
  margin 20px

// override Bootstrap link styling
.no-underline
  color inherit
  &:hover
    text-decoration none

// round avatar image
.img-padded
  border 1px solid dark-brown
  padding 7px
