@require './_*.styl'

// override button styling
button
  background transparent
  border none
  line-height 1
  text-align inherit
  width 100%
  padding initial
  &:focus
    outline none

// round & horizontally centered avatar image
.img-padded
  position absolute
  left 50%
  width 96px
  height 96px
  margin-left -(@width / 2)
  padding 7px
  border 1px solid dark-brown
